<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="container">
            <div class="inner cover">
                <h1 class="cover-heading space-bottom">Presentation portfolio</h1>
                <figure class="text-end space-bottom">
                    <blockquote class="blockquote">
                        <p>What transforms this world is — knowledge. Do you see what I mean? Nothing else can change
                            anything in this
                            world. Knowledge alone is capable of transforming the world, while at the same time leaving
                            it exactly as it
                            is. When you look at the world with knowledge, you realize that things are unchangeable and
                            at the same time
                            are constantly being transformed.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Yukio Mishima <cite title="Source Title">The temple of the golden pavilion</cite>
                    </figcaption>
                </figure>
                <div class="text-center">
                    <a routerLink="/about" class="btn btn-lg btn-default ">About me</a>
                </div> 
            </div>
        </div>
    </div>
</div>
